@import "variables";
@import "mixins";
  .box-404 {
    text-align: center;
    h1 {
      font-size: 8vh;
    }
    h2 {
      font-size: 5vh;
    }
    span {
      font-size: 30vh;
      width: 100%;
    }
    h1, h2, span {
      margin: 4vh 0;
    }
    h3 {
      font-size: 4vh;
      a {
        @include theme-link;
      }
    }
  }
