@import "variables";
@import "mixins";
.cart-table {
  thead {
    tr {
      padding: 1rem 0;
      border-bottom: $line-separator;
      font-size: 1.2rem;
      th {
        color: $cool-grey;
        padding: 0;
      }
    }
  }
  tbody tr {
      padding: 1rem 0;
      border-bottom: $line-separator;
      margin: 1rem 0;
      .actions {
        padding: 2rem 0;
      }
  }
  tbody .product-row {
    td {
      padding: 0;
      display:flex;
      align-self: center;
      font-weight: bold;
      a {
        color: $ochre;
        @include link-hover;
      }
      a:hover {
        color: $pastel-peach;
      }
    }
    .product-thumbnail a img {
      display: block;
      margin: 0 auto;
      width: 5rem;
      height: auto;
    }
    .product-quantity input {
      width: 5rem;
      border-radius: 5px;
      outline: none;
      padding: 0.3rem;
      border: $line-separator;
    }
    .product-remove {
      font-size: 1.2rem;
      a {
        color: red;
      }
      a:hover {
        color: #DD1111;
      }
    }
  }
}
.cart-collaterals .cart_totals{
    margin-right: 1rem;
  h2 {
    text-align: right;
    margin: 0;
    padding: 1rem 0;
  }
  h2::after {
    content: ':';
  }
  table {
    margin-left: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .wc-proceed-to-checkout {
      text-align: right;
    a {
      @include disable-link;
      @include theme-layout;
      padding: .5rem .75rem;
      border-radius: .25rem
    }
    a:hover {
      @include theme-layout-hover;
    }
  }
}
