@import "variables";
@import "mixins";
.cart-table {
  thead {
    tr {
      th {
        text-align: center;
        color: $theme-color;
      }
    }
  }
  tbody tr, thead tr {
      padding: 1rem 0;
      border-bottom: $line-separator;
      margin: 1rem 0;
  }
  tbody tr {
    
  }
}
