@import "variables";
@import "mixins";
.main-footer {
  @include color-theme;
  margin-top: 2rem;
  div {
    padding: 1rem;
    h4 {
      text-transform: uppercase;
      font-size: 1.2rem;
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        padding-top: 0.5rem;
        a {
          @include link-hover;
          color: $pastel-peach;
          span{
            font-size: 1.5rem;
            padding-right: 0.3rem;
          }
          }
        a:hover {
         color: $ochre;
          }
      }
    }
  }
}
