@import "variables";
@import "mixins";
.main-footer {
  @include color-theme-light
  margin-top: 2rem;
  div {
    padding: 1rem;
    h4 {
      text-transform: uppercase;
      font-size: 1.2rem;
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        padding-top: 0.5rem;
        a {
          @include disable-link;
          color: $theme-color-darker;
          transition: 0.3s all;
          span{
            font-size: 1.5rem;
            padding-right: 0.3rem;
          }
          }
        a:hover {
         color: $theme-color;
          }
      }
    }
  }
}
