@mixin box-header{
  text-transform: uppercase;
  text-align: center;
  padding: 2rem 0;
  font-size: 1.6rem;
}
@mixin disable-link {
  text-decoration: none;
  color: #000;
}
@mixin color-theme {
  background-color: $gunmetal;
  color: $warm-yellow;
}
@mixin color-theme-hover {
  background-color: $navy-blue;
  color: $warm-yellow;
}
@mixin background-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}
@mixin catalog-image {
  display: block;
  margin: 0 auto;
  min-height: 300px;
}
@mixin theme-layout {
  background-color: $gunmetal;
  color: $warm-yellow;
  border: 1px solid $gunmetal;
  transition: 0.3s all;
  cursor: pointer;
}
@mixin theme-layout-hover {
  background-color: $navy-blue;
  border-color: $navy-blue;
}
