@mixin box-header{
  text-transform: uppercase;
  text-align: center;
  padding: 2rem 0;
  font-size: 1.6rem;
}
@mixin disable-link {
  text-decoration: none;
  color: #000;
}
@mixin color-theme-light {
  background-color: $theme-color-light;
  color: $theme-color-darker;
}
@mixin color-theme-lighter {
  background-color: $theme-color-lighter;
  color: $theme-color-dark;
}
@mixin background-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}
@mixin catalog-image {
  display: block;
  margin: 0 auto;
  min-height: 300px;
}
@mixin theme-layout {
  background-color: $theme-color-light;
  color: $theme-color-darker;
  border: 1px solid $theme-color-light;
  transition: 0.3s all;
  cursor: pointer;
}
@mixin theme-layout-hover {
  background-color: $theme-color;
  color: $theme-color-darker;
  border-color: $theme-color;
}
