@import "variables";
@import "mixins";
.login-container .woocommerce .woocommerce-ResetPassword {
    margin: 1rem;
    p .input-text {
      padding: .5rem .75rem;
      font-size: 1rem;
      line-height: 1.25;
      color: #495057;
      background-color: #fff;
      background-image: none;
      background-clip: padding-box;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: .25rem;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    p .button {
        @include theme-layout;
    }
    p .button:hover {
        color: $ochre;
    }
}
.login-container .woocommerce .u-columns div {
    form {
    border: none;
    padding: 0;
    margin: 1rem;
    p .woocommerce-password-strength {
      margin-top: 1rem;
    }
     .form-control:nth-child(3) {
      display: inherit;
      width: initial;
      @include theme-layout;
    }
    .form-control:nth-child(3):hover {
      color: $ochre;
    }
    p .woocommerce-form__label-for-checkbox {
      display: none;
    }
    .woocommerce-LostPassword a {
      @include theme-link;
    }
  }
}

.woocommerce-MyAccount-navigation ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 2rem 0;
  padding: 0;
  li a {
    @include theme-link;
    font-weight: bold;
    transition: .3s color;
  }
  li a:hover {
    color: $pastel-peach;
  }
}
.woocommerce-MyAccount-content {
  margin: 4rem;
  p a {
    @include theme-link;
  }
  .u-column1 {
    max-width: 50%;
    header {
      margin: 1rem;
      a {
        @include theme-link;
      }
      a:hover {
        color: $pastel-peach;
      }
    }
    address {
      border: 1px solid #eee;
      padding: 2rem;
      border-radius: 1rem;
    }
  }
}
