@import "variables";
@import "mixins";
.login-container .woocommerce .woocommerce-ResetPassword {
    margin: 1rem;
    p .input-text {
      padding: .5rem .75rem;
      font-size: 1rem;
      line-height: 1.25;
      color: #495057;
      background-color: #fff;
      background-image: none;
      background-clip: padding-box;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: .25rem;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    p .button {
        @include theme-layout;
    }
    p .button:hover {
        @include theme-layout-hover;
    }
}
.login-container .woocommerce .u-columns div {
    form {
    border: none;
    padding: 0;
    margin: 1rem;
    p .woocommerce-password-strength {
      margin-top: 1rem;
    }
     .form-control:nth-child(3) {
      display: inherit;
      width: initial;
      @include theme-layout;
    }
    .form-control:nth-child(3):hover {
      @include theme-layout-hover;
    }
    p .woocommerce-form__label-for-checkbox{
      display: none;
    }
    .woocommerce-LostPassword a{
      color: $warm-yellow;
      transition: 0.3s;
      text-decoration: none;
    }
    .woocommerce-LostPassword a:hover {
      color: $rusty-red;
    }
  }
}
