@import "variables";
@import "mixins";
.promo-carousel-box {
      position: relative;
      .fa {
        position:absolute;
        font-size: 1.5rem;
        user-select: none;
        z-index: 9999;
        bottom:50%;
        color: #fff;
        cursor: pointer;
      }
      .fa:first-of-type {
        left: .5rem;
      }
      .fa:last-of-type {
        right: .5rem;
      }
}
.promo-carousel {
  position: relative;
  .item {
      @include background-image;
      min-height: 50vh;
      color: #fff;
      .promo-item-content {
      padding: 1.5rem;
      max-width: 50%;
      h2 {
        font-weight: 400;
        font-size: 3.5rem;
      }
      h3 {
        font-weight: 300;
        font-size: 1.5rem;
      }
    }
  }
  .owl-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 95%;
    left: 50%;
    right: 50%;
    .owl-dot span {
      @include dots;
      margin: 0 .3rem;
      background-color: #fff;
    }
  }
  .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: $ochre;
  }
}
@media (max-width: 992px) {
  .promo-carousel .item {
    min-height: 40vh;
    text-align: center;
    background-size: cover;
    .promo-item-content {
    min-width: 100%;
    padding: 2rem;
    min-height: 40vh;
    background-color: rgba(0,0,0,0.2);
    h2 {
      font-weight: 400;
      font-size: 2rem;
    }
    h3 {
      font-weight: 300;
      font-size: 1rem;
    }
  }
  }
}
