@import "variables";
@import "mixins";
.product-container {
  margin-top: 2rem;
  justify-content: center;
  .product-gallery-carousel {
    padding: 0 1rem;
    max-width: 50%;
    .product-gallery-item {
      min-height: 300px;
      @include background-image;
    }
  }
  .product-about {
  }
}
