@import "variables";
@import "mixins";
.woocommerce-message {
  margin:0;
  border: none;
}
.wc-forward, .wc-forward:hover, .restore-item, .restore-item:hover {
  text-decoration: none;
  color: $ochre;
}
.product-container {
  margin-top: 2rem;
  justify-content: center;
  margin-bottom: 5rem;
  .product-gallery-carousel {
    padding: 0 1rem;
    max-width: 50%;
    .product-gallery-item {
      min-height: 400px;
      @include background-image;
    }
  }
  .product-about {
    h1 {
      font-size: 1.8rem;
      font-weight: 300;
    }
    .in-stock {
      display: none;
    }
    .price::before {
      content: 'Cena: ';
      font-weight: bold;
      font-size: 1.6rem;
    }
    .price span {
      font-weight: bold;
      font-size: 1.6rem;
    }
    .cart {
      display: flex;
      margin-bottom: 1rem;
      .quantity .input-text {
        max-width: 50px;
        padding: 0.5rem;
        text-align: center;
        font-size: 1.4rem;

      }
      button {
        @include color-theme;
        border: none;
        outline: none;
        padding: 0.5rem;
        font-size: 1.4rem;
        cursor: pointer;
        transition: 0.3s all;
      }
      button:hover {
        color: $ochre;
      }
    }
    .product_meta {
      font-weight: 100;
      margin: 1rem 0;
      a {
        color: $ochre;
      }
    }
    .progress {
      width: 50%;
      margin: 1rem 0;
    }
    .stock {
      font-size: 1.3rem;
    }
  }
}
.product-description .wc-tabs-wrapper {
  border-top: 1px solid $cool-grey;
  padding-top: 2rem;
  ul {
    margin: 0;
    padding: 0 0 2rem 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    li a{
      color: $ochre;
      text-transform: uppercase;
      font-size: 1.4rem;
    }
  }
  .woocommerce-Tabs-panel--description, .woocommerce-Tabs-panel--additional_information {
    p {
      font-size: 1.1rem;
      font-weight: 400;
      text-align: justify;
    }
    h1, h2, h3, h4, h5, h6 {
      font-weight: 400;
      margin: 1rem;

    }
    a {
      color: $ochre;
      text-decoration: none;
    }
  }
  .woocommerce-Tabs-panel--additional_information {
    table {
      font-size: 1.2rem;
    }
    table tbody th::after{
      content:":";
    }
    table tbody tr td p{
      margin: 0;
      font-size: 1.2rem;
      padding-left: 5px;
    }
  }
}
