@import "variables";
@import "mixins";
.static-page-header, .err-page-header {
  text-align: center;
  margin: 2rem;
}
.static-page-content {
  p {
    font-size: 1.3rem;
    a {
      @include link-hover;
      color: $ochre;
    }
    a:hover {
      color: $pastel-peach;
    }
  }
}
.err-page-link {
  text-align: center;
  padding: 2rem;
  transition: 0.3s all;
  @include disable-link;
  @include color-theme;
}
.err-page-link:hover {
  @include color-theme-hover;
}
.wpcf7-form {
  p {
    display: flex;
    justify-content: center;
    input[type="submit"] {
      width: inherit;
    }
  }
}
