@import "variables";
@import "mixins";
@import "carousel";
@import "header";
@import "footer";
.theme-layout {
  background-color: $theme-color-light;
  color: $theme-color-darker;
  border: none;
  transition: 0.3s all;
}
.theme-layout:hover {
  background-color: $theme-color;
  color: $theme-color-darker;
}
.modal-body .input-group {
  padding: 1rem 0;
}
.recommended-products-box {
  background-color: #eee;
  .recommended-products-header {
    @include box-header;
  }
  .recommended-products-carousel {
    .recommended-products-carousel-tile {
      background-color: #fff;
      margin:0 1rem;
    }
  }
}
.latest-products-box {
  .latest-products-header {
    @include box-header;
  }
  .latest-products {
    padding: 0;
    margin: 0;
    li {
      list-style-type: none;
      padding: 1rem;
      .add_to_cart_button {
        display: none;
      }
      a {
        @include disable-link;
        img {
          display: block;
          margin: 0 auto;
        }
        h2 {
          @include box-header;
        }
      }
      a {
        span.onsale {
          display: none;
        }
      }
    }
  }
}
