@import "variables";
@import "mixins";
@import "header";
@import "404";
@import "promo-carousel";
@import "recommended-carousel";
@import "single-product";
@import "static-page";
@import "cart";
@import "catalog";
@import "checkout";
@import "footer";

::selection {
  background-color: $theme-color-light;
  color: $theme-color-darker;
}
.modal-body .input-group {
  padding: 1rem 0;
}
